/*common.css*/
body {
	background-color: #333;
	font-size: 16px;
	color:#2e2e2e;
}

.main-inner {
	background-color: #fff;
	margin: 40px auto;
	width: 80%;
	padding: 20px;
}

.content-header {
	font-size: 24px;
	color: #fff;
	margin-bottom: 20px;
	background-color: #1D92D7;
	padding: 10px 20px;
}


.fm-input {
	padding: 6px;
}

.fm-input input[type=radio],
.fm-input input[type=checkbox] {
	display: inline-block;
	margin-right: 6px;
}

.fm-input input[type=radio] + label,
.fm-input input[type=checkbox] + label {
	position: relative;
	display: inline-block;
	margin-right: 12px;
	font-size: 14px;
	line-height: 30px;
	cursor: pointer;
}


@media (min-width: 1px) {
	.fm-input input[type=radio],
	.fm-input input[type=checkbox] {
		display: none;
		margin: 0;
	}

	.fm-input input[type=radio] + label,
	.fm-input input[type=checkbox] + label {
		padding: 0 0 0 24px;
	}

	.fm-input input[type=radio] + label::before,
	.fm-input input[type=checkbox] + label::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;

		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: block;
		width: 18px;
		height: 18px;
		margin-top: -9px;

		background: #FFF;
	}

	.fm-input input[type=radio] + label::before {
		border: 2px solid #ccc;
		border-radius: 30px;
	}

	.fm-input input[type=checkbox] + label::before {
		border: 2px solid #ccc;
	}

	.fm-input input[type=radio]:checked + label::after,
	.fm-input input[type=checkbox]:checked + label::after {
		content: "";
		position: absolute;
		top: 50%;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: block;
	}

	.fm-input input[type=radio]:checked + label::after {
		left: 5px;
		width: 8px;
		height: 8px;
		margin-top: -4px;
		background: #E71063;
		border-radius: 8px;
	}

	.fm-input input[type=checkbox]:checked + label::after {
		left: 3px;
		width: 16px;
		height: 8px;
		margin-top: -8px;
		border-left: 3px solid #E71063;
		border-bottom: 3px solid #E71063;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}


.button {
	width:100px;
	color:#ffffff;
	background:#337fcc;
	font-size:16px;
	font-weight:bold;
	text-shadow:0 -1px 0px #225588,0 -2px 0px #225588;
	text-align:center;
	display:inline-block;
	text-decoration:none;
	border:1px solid #225588;
	padding:8px 0;
	border-radius:5px;
	background:-moz-linear-gradient(rgba(34,85,136,0.5), rgba(34,85,136,1));
	background:-webkit-gradient(linear, 100% 0%, 100% 100%, from(rgba(34,85,136,0.5)), to(rgba(34,85,136,1)));
	box-shadow:1px 2px 2px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.5) inset, 0px -1px 0px rgba(255,255,255,0.2) inset;
}
a.button:hover {
	background:-moz-linear-gradient(rgba(119,170,221,0.4), rgba(34,85,136,0.9));
	background:-webkit-gradient(linear, 100% 0%, 100% 100%, from(rgba(34,85,136,0.4)), to(rgba(34,85,136,0.9)));
}


.input-area {
	width: 100%;
	display: table;
	table-layout: fixed;
}

.input-area > li {
	display: table-cell;
}

.count-area {
	text-align: center;
}
.output-text {
	font-size: 20px;
	font-weight: bold;
	color: red;
	margin-top: 10px;
}


